.container{
  background-color: #E3E2E2;
}
.nav{
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
}
.top-text{
  font-style: oblique;
  font-size: 20px;
  display: inline;
  color: white;
  padding-right: 30px;
}
.top{
  background-color: #91AF38;
  width: 100%;
  height: 30px;
}
.alto {
  width: auto;
  max-height: 550px;
  overflow: hidden;
}
.center{
  text-align: center;
  align-items: center;
}
.caro-images{
  align-items: center;
  height: auto;
  max-width: 100%;
}
.caro-text{
  color: black;
}
.articulos{

}
.titu-arti{
  color: #6A8012;
  font-size: 30px;
  font-weight: bold;
  background-color: transparent;
  text-decoration: none;
}
.text-arti{
  color: black;
  font-size: 15px;
  font-weight: normal;
}
.img-arti{
  height: 50px;
  width: 80px;
}
.img-arti2{
  width: 300px;
  height: 250px;

}
.img-side{
  padding: 25px;
  height: 200px;
  width: 200px;

}
.text-side{
  font-style: italic;
  font-weight: bold;
  padding-top: 10px;
  color: #91AF38;
}
.footer{
  border-radius: 10px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: #6A8012;
  width: 100%;
  height: auto;
}
